.wrapper {
    width: 100vw;
    height: 100vh;
}

.wrapper > div {
    line-height: 0;
    font-size: 28px;
    position: absolute;
    opacity: 1;
    cursor: pointer;
    display: block;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    opacity: 0;
}
